body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: chocolate;
}

span {
    color: blue;
}

section {
    display: flex;
}

.left_side {
    width: 50%;
    padding-left: 2%;
}

.left_side img {
    width: 70%;
}

.left_side p {
    text-align: justify;
}

.left_side a {
    text-decoration: none;
    padding: 5px 15px;
    background-image: linear-gradient(rgba(10, 9, 9, 0.781), rgba(252, 5, 5, 0.548));
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

.top_banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}


/* second section */

.second_banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    margin-top: 150px;
    background-position: right;
}

.right_side {
    width: 50%;
    padding-right: 2%;
}

.right_side img {
    width: 70%;
    padding-left: 15%;
}

.right_side p {
    text-align: justify;
    margin-right: 100px;
}

.right_side a {
    text-decoration: none;
    padding: 5px 15px;
    background-image: linear-gradient(rgba(10, 9, 9, 0.781), rgba(252, 5, 5, 0.548));
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}